USER-SUPPLIED VALUES:
adminPassword: admin
adminUser: admin
dashboardProviders: {}
dashboards: {}
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - access: proxy
      editable: true
      isDefault: true
      jsonData:
        derivedFields:
        - datasourceUid: tempo
          matcherRegex: trace_id=(\w+)
          name: TraceID
          url: $${__value.raw}
        maxLines: 1000
      name: Loki
      type: loki
      url: http://loki.logging.svc.cluster.local:3100
    - access: proxy
      editable: true
      jsonData:
        lokiSearch:
          datasourceUid: loki
        nodeGraph:
          enabled: true
        search:
          hide: false
        serviceMap:
          datasourceUid: prometheus
        tracesToLogs:
          datasourceUid: loki
          filterBySpanID: false
          filterByTraceID: false
          mapTagNamesEnabled: false
          mappedTags:
          - key: service.name
            value: service
          spanEndTimeShift: 1h
          spanStartTimeShift: 1h
          tags:
          - job
          - instance
          - pod
          - namespace
      name: Tempo
      type: tempo
      uid: tempo
      url: http://tempo.logging.svc.cluster.local:3200
env:
  TZ: America/Chicago
grafana.ini:
  analytics:
    check_for_updates: false
    reporting_enabled: false
  auth.anonymous:
    enabled: false
  log:
    level: info
    mode: console
  server:
    root_url: '%(protocol)s://%(domain)s/grafana'
    serve_from_sub_path: true
nodeSelector:
  hardware: light
persistence:
  enabled: false
plugins: []
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi
securityContext:
  fsGroup: 472
  runAsNonRoot: true
  runAsUser: 472
service:
  port: 80
  targetPort: 3000
  type: ClusterIP
