USER-SUPPLIED VALUES:
backend:
  replicas: 0
chunksCache:
  enabled: false
deploymentMode: SingleBinary
gateway:
  enabled: false
loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  limits_config:
    ingestion_burst_size_mb: 100
    ingestion_rate_mb: 50
    max_query_length: 721h
    retention_period: 168h
  memberlist:
    join_members: []
  schemaConfig:
    configs:
    - from: "2024-01-01"
      index:
        period: 24h
        prefix: index_
      object_store: filesystem
      schema: v13
      store: tsdb
  storage:
    type: filesystem
lokiCanary:
  enabled: false
monitoring:
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false
read:
  replicas: 0
resultsCache:
  enabled: false
singleBinary:
  nodeSelector:
    hardware: heavy
  persistence:
    enabled: true
    selector:
      matchLabels:
        app: loki
        type: local
    size: 200Gi
    storageClass: local-storage
  replicas: 1
  resources:
    limits:
      cpu: 2
      memory: 4Gi
    requests:
      cpu: 500m
      memory: 1Gi
  tolerations:
  - effect: NoSchedule
    key: heavy
    operator: Equal
    value: "true"
test:
  enabled: false
write:
  replicas: 0
